/* TO DO:

make avatar and deploy a "coming soon" webpage to link to projects

make content section into flex container/column w the sidebar
-possibly use float left/right to make h3 stackable?

fix stuff in header/make it into columns as well

responsive web design stuff w/ media queries

add alt text/titles to images

css reset sheet?

put header links into nav tag and reformat

*/

* {
   background-color: var(--paleblue);
}

:root {
    /* variables for color/background-color properties */
    --darkteal: #4f879b;
    --darkerteal: #375b67;
    --darkgray: #343738;
    --darkergray: #323536;
    --lightgray: #5d6364;
    --medgray: #404546;
    --paleblue: #b2d6e1;
    --whiteblue: #d5f1f9;

    /* variable for font family */
    --main-fontfam: Arial, Helvetica, sans-serif;

    /* 
    variable that edits margins so 
    header/body/footer elements fill the whole page 
    */
    --fill-page: -10px;
}


/* style for header and header elements */
.header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    flex-grow: 1;
    font-family: var(--main-fontfam);
    background-color: var(--darkteal);
    min-height: 125px;
    margin: var(--fill-page);
    margin-right: -20px;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-bottom-color: var(--darkergray);
}

.header h1 {
    padding: 15px;
    margin-bottom: 0px;
    font-size: 50px;
    color: var(--darkergray);
    background-color: var(--darkteal);
}

.header p {
    position: relative;
    left: 25%;
    padding: 30px;
    padding-bottom: 0;
    background-color: var(--darkteal);
    color: var(--darkgray);
    font-size: 18px;
    font-weight: bold;
}

.header a {
    color: var(--darkgray);
    text-decoration: none;
    background-color: transparent;
}

/* pseudoclasses for header links  */
.header a:hover {
    color: var(--lightgray);
    font-size: 20px;
}

.header a:active {
    color: var(--paleblue);
}

/* style for webpage body container */
.body {
    display: flex;
    margin-top: 50px;
    font-family: var(--main-fontfam);
}

/* style for navigational sidebar */
.sidebar-right {
    margin-top: -40px;
    margin-bottom: 10px;
    margin-left: var(--fill-page);
    padding: 20px;
    max-width: 300px;
    min-width: fit-content;
    background-image: linear-gradient(to right, var(--whiteblue), 80%, var(--paleblue));
}

.sidebar-right p {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    padding-right: 10px;
    color: var(--darkgray);
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-right-radius: 13%;
}

/* general styles for the About Me, Work, Contact Me, and Resume sections */
.sections {
    font-family: var(--main-fontfam);
    max-width: fit-content;
    padding: 30px;
    background-color: transparent;
}

.subsection {
    display: flex;
    flex-flow: column wrap;
    min-width: fit-content;
    margin: 10px;
    margin-bottom: 150px;
   /* border-style: solid; */
   border-left-style: solid;
   border-left-width: 5px;
   border-left-color: var(--darkerteal);
}


.subsection h3 {
    display: none;
    /*
    position: relative;
    right: 25%;
    padding-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: var(--darkergray);
    font-size: 30px;
    color: var(--darkergray);
    background-color: transparent;
    */
}

.subsection p {
    display: inline;
    padding: 10px;
    font-size: 16px;
    color: var(--darkgray);
    background-color: transparent;
}

.pfp-img {
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-left: 20px;
    margin-right: -10px;
    border-style: dotted;
    border-width: 4px;
    border-color: var(--darkerteal);
}

/* style for About Me section */
#aboutme {
    margin-right: -10px;
    padding-right: 50px;
}

#aboutme p {
    margin-top: -10px;
}

/* styles for Work section */
#work {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#work img {
    max-width: 100%;
    height: auto;
    margin: 8px;
    border-style: dotted;
    border-width: 4px;
    border-color: var(--darkerteal);
}

/* styles for Contact Me section */
#contactme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contactme p {
    color: var(--darkgray);
    font-size: 20px;
    font-weight: bold;
}

#contactme a {
    font-size: 18px;
    color: var(--darkerteal);
    text-decoration: none;
}

/* pseudoclasses for Contact Me section links */
#contactme a:hover {
    color: var(--lightgray);
}

#contactme a:active {
    color: var(--whiteblue);
}

/* style for footer */
.footer {
    display: flex;
    min-height: 50px;
    margin: var(--fill-page);
    margin-right: -20px;
    background-color: var(--darkteal);
}