/* TO DO:

make content section into flex container/column w the sidebar
-possibly use float left/right to make h3 stackable?

responsive web design stuff w/ media queries

css reset sheet? ask Brian and/or MJ

go thru comments

change header from "Existential Dread" to my name or smth
- double check for unprofessional shit that u write in your extremely
casual writing style bc it helps you keep track of things



*/

* {
   background-color: var(--paleblue);
}

:root {

    /* variables for color/background-color properties */

    --darkteal: #4f879b;
    --darkerteal: #375b67;
    --darkgray: #343738;
    --darkergray: #323536;
    --lightgray: #7f8789;
    --medgray: #404546;
    --paleblue: #b2d6e1;
    --whiteblue: #d5f1f9;

    /* variable for font family */

    --main-fontfam: Arial, Helvetica, sans-serif;

}


/* style for header and header elements */

.header {
    font-family: var(--main-fontfam);
    background-color: var(--darkteal);
    min-height: 125px;
    margin-top: -37px;
    margin-left: -40px;
    margin-right: -20px;
    padding-left: 30px;
}

.header h1 {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    margin-bottom: -10px;
    font-size: 55px;
    color: var(--whiteblue);
    background-color: var(--darkteal);
}

.header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: var(--darkergray);
}

.header a {
    color: var(--lightgray);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.header p {
    background-color: transparent;
}

/* pseudoclasses for header links  */

.header a:hover {
    color: var(--darkteal);
    font-size: 18px;
}

.header a:active {
    color: var(--paleblue);
}

/* style for webpage body */

.body {
    display: flex;
    margin-top: 50px;
    font-family: var(--main-fontfam);
}

/* style for navigational sidebar */

.sidebar-right {
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: -10px;
    padding: 20px;
    max-width: 300px;
    min-width: fit-content;
    background-image: linear-gradient(to right, var(--whiteblue), 80%, var(--paleblue));
}

.sidebar-right p {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    padding-right: 10px;
    color: transparent;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-right-radius: 13%;
}

/* 
general style for the About Me, 
Work, Contact Me, and Resume sections
 */

.sections {
    font-family: var(--main-fontfam);
    max-width: fit-content;
    padding: 30px;
    background-color: transparent;
}

.subsection {
    display: flex;
    flex-flow: column wrap;
    min-width: fit-content;
    margin: 10px;
    margin-bottom: 150px;
   border-left-style: solid;
   border-left-width: 5px;
   border-left-color: var(--darkerteal);
}


.subsection h3 {
    display: none;
    /*
    position: relative;
    right: 25%;
    padding-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: var(--darkergray);
    font-size: 30px;
    color: var(--darkergray);
    background-color: transparent;
    */
}

.subsection p {
    display: inline;
    padding: 10px;
    font-size: 16px;
    color: var(--darkgray);
    background-color: transparent;
}

.pfp-img {
    display: flex;
    justify-content: flex-end;
    float: right;
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: -10px;
    border-style: dashed;
    border-width: 6px;
    border-color: var(--darkteal);
}

/* style for About Me section */

#aboutme {
    margin-right: -10px;
    padding-right: 50px;
}

#aboutme p {
    margin-top: -10px;
}

/* styles for Work section */

#work {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#work img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 8px;
    border-style: dotted;
    border-width: 4px;
    border-color: var(--darkerteal);
}

/* styles for Contact Me section */

#contactme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -10px;
    padding-right: 50px;
}

#contactme p {
    color: var(--darkgray);
    font-size: 20px;
    font-weight: bold;
}

#contactme a {
    font-size: 18px;
    color: var(--darkerteal);
    text-decoration: none;
}

/* pseudoclasses for Contact Me section links */

#contactme a:hover {
    color: var(--lightgray);
}

#contactme a:active {
    color: var(--whiteblue);
}

/* style for resume section */

#resume {
    margin-right: -10px;
    padding-right: 50px;
}

#resume p {
    margin-top: -10px;
}

/* style for footer */

.footer {
    display: flex;
    min-height: 50px;
    margin: -10px;
    margin-right: -20px;
    background-color: var(--darkteal);
}